<header></header>
<main role="main" class="container-fluid">
	<div class="row">
		<!-- Main section -->
        <section class="col-md-7">
			<div class="col-md-12">
				<img src="assets/images/logo.png" class="gm-logo mt-3">
			</div>
			<div class="container">
				<div class="offset-md-1 col-md-10 text-center">
					<h2 class="mt-5">Choose how you want to create your website</h2>
					<br/>
				</div>
				<div class="col-md-12 text-center">
					<div class="row">
						<div class="col-md-5 border gm-rad-10 gm-m-r-10">
							<img class="gm-w-30" src="assets/icons/custom.svg">
							<h5>Let gomarketin create a website for you</h5>
							<p class="gm-desc">Answer a few simple question and automatically get a website designed just for you in minutes.</p>
							<button class="gm-rad-30 gm-p-lr-50 btn btn-primary" type="submit">Start Now </button>
						</div>
						<div class="col-md-5 border gm-rad-10 gm-m-l-10">
							<img class="gm-w-30" src="assets/icons/template.svg">
							<h5>Create your website with the gomarketin editor</h5>
							<p class="gm-desc">Start with a template and make it your own,with easy drag and drop & 1000s of design features.</p>
							<button routerLink="Login" class="gm-rad-30 gm-p-lr-50 btn btn-primary" type="submit">Choose a template </button>
						</div>
					</div>
				</div>
			</div>
        </section>
		
		<!-- Side Section -->
        <aside class="col-md-5 gm-primary-bg">
			<div class="container">
				
			</div>
        </aside>
	</div>
</main>
<footer></footer>
