<header></header>
<main role="main" class="container-fluid">
	<div class="row">
		<!-- Main section -->
        <section class="col-md-7">
			<div class="col-md-12">
				<img src="assets/images/logo.png" class="gm-logo mt-3">
			</div>
			<div class="container">
				<div class="offset-md-2 col-md-8 text-center">
					<h3 class="mt-3">
					Sign Up
					</h3>	
					<p class="gm-font-20">Already have an account? <a routerLink="/Login">Log in</a></p>
					<br/>
					<div class="form-group gm-has-icon">
						<span class="gm-custom-input-icon">
							<img src="assets/icons/name.svg" class="gm-btn-icon-sm">
						</span>
						<input type="text" class="form-control gm-custom-input-field" placeholder="Name"/>
					</div>
					<br/>
					<div class="form-group gm-has-icon">
						<span class="gm-custom-input-icon">
							<img src="assets/icons/email.svg" class="gm-btn-icon-sm">
						</span>
						<input type="text" class="form-control gm-custom-input-field" placeholder="Email"/>
					</div>
					<br/>
					<div class="form-group gm-has-icon">
						<span class="gm-custom-input-icon">
							<img src="assets/icons/password.svg" class="gm-btn-icon-sm">
						</span>
						<input type="text" class="form-control gm-custom-input-field" placeholder="Password"/>
					</div>
					<br/>
					<div class="form-group gm-has-icon">
						<span class="gm-custom-input-icon">
							<img src="assets/icons/contact.svg" class="gm-btn-icon-sm">
						</span>
						<input type="text" class="form-control gm-custom-input-field" placeholder="Number"/>
					</div>
					<br/>
					<div class="form-group">
						<select class="form-control" id="exampleFormControlSelect1">
							<option selected disabled hidden>Tell us a bit about yourself</option>
							<option>I am a freelance web designer </option>
							<option>I work for an agency that builds websites </option>
							<option>I work for a hosting company or online directory</option>
							<option>I want to start a web design busiess</option>
							<option>I am building a website for myself</option>
						</select>
					</div>
					<div class="row gm-font-13 ">
						<div class="col-md-6 text-left">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck1" checked>
								<label class="custom-control-label gm-p-t-3" for="customCheck1">Remember Me</label>
							</div>
						</div>
						<div class="col-md-6 text-right  gm-p-t-3">
							<a routerLink="/forgot_password">Forgot Password?</a>
						</div>
					</div>
					<br/>
					<div class="col-md-12 text-center">
						<button class="gm-rad-30 gm-p-10-50 btn btn-primary" type="submit">Sign Up</button>
					</div>
					<br/>
					<div class="text-center gm-fancy-title">
						<span>OR</span>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-6 gm-no-pad text-left">
							<button class="btn btn-primary gm-fb-bg gm-font-13 gm-btn-has-icon gm-rad-10" type="submit">
								<img src="assets/icons/fb.svg" class="gm-btn-icon gm-btn-icon-sm">
								<span>Continue with Facebook</span>
							</button>
						</div>
						<div class="col-md-6 gm-no-pad text-right">
							<button class="btn btn-danger gm-google-bg gm-font-13 gm-btn-has-icon gm-rad-10" type="submit">
								<img src="assets/icons/google.svg" class="gm-btn-icon gm-btn-icon-sm">
								<span class="gm-p-lr-8">Continue with Google</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="text-right gm-term gm-grey-col mt-5 gm-font-13">
				*By logging in you agree to our <a routerLink="">Terms of Use</a>.
			</div>
        </section>
		
		<!-- Side Section -->
        <aside class="col-md-5 gm-primary-bg">
			<div class="">
			</div>
        </aside>
	</div>
</main>
<footer></footer>
